<html>
<head><title>Customers Page</title></head>

<body>
<h1>This is the Customers Page</h1>

<h2>List of Customers</h2>
<!-- <ul>
    {% for customer in customers %}
    <li>{{customer.first_name}}</li>
    {% endfor %}
</ul> -->

<table>
    <tr><td>#</td><td>First Name</td><td>Last Name</td><td>Date of Birth</td></tr>
{% for customer in customers %}
<tr>
    <td>
    {{ customer.pk }}
    </td>
    <td>
    {{  customer.first_name }}
    </td>
    <td>
    {{ customer.last_name }}
    </td>
    <td>
    {{ customer.dob }}
    </td>
</tr>
{% endfor %}
</table>
</body>
</html>