<html>
<head><title>Search Customers</title></head>

<body>
    <h1>Search Page</h1>

    <form action="{% url 'search_results' %}" method="get">
        Search By:-<br/>
        <input type="radio" value="Customer Name" id="CustomerNameRadio" name="r" checked="True" >Customer First Name or Last Name</input>
        <input type="radio" value="Customer Date of Birth" id="CustomerDOBRadio" name="r" >Customer DOB (YYYY-MM-DD)</input>
        <input type="radio" value="Policy" id="CustomerPolicyRadio" name="r" >Customer Policy Type</input>

        <br/>
        <input name="q" type="text" placeholder="Search...">
        <input type="submit" value="Search"/>
    </form>
</body>
</html>