<html>
<head><title>Policies Page</title>

</head>

<body>
<h1>This is the Policies Page</h1>

<h2>List of Policies</h2>

<table>
    <tr><td>#</td><td>Type</td><td>Premium</td><td>Cover</td><td>State</td><td>Customer ID</td></tr>
{% for policy in policies %}
<tr>
    <td>
    {{ policy.pk }}
    </td>
    <td>
    {{  policy.type }}
    </td>
    <td>
    {{ policy.premium }}
    </td>
    <td>
    {{ policy.cover }}
    </td>
    <td>
    {{ policy.state }}
    </td>
    <td>
    {{ policy.customer_id }}
    </td>
    <td> <a href="{%url 'policy.details' pk=policy.pk %}">View History</a></td>
</tr>
{% endfor %}
</table>
</body>
</html>